<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lb.mapper.user.SysUserMapper">
	<resultMap id="BaseResultMap"
		type="com.lb.user.domain.pojo.SysUserDO">
		<id column="UserID" property="userID" jdbcType="INTEGER" />
		<result column="LoginName" property="loginName" jdbcType="VARCHAR" />
		<result column="LoginPassWord" property="loginPassword" jdbcType="VARCHAR" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="Phone" property="phone" jdbcType="VARCHAR" />
		<result column="Email" property="email" jdbcType="VARCHAR" />
		<result column="RegisterTime" property="registerTime" jdbcType="DATE" />
	</resultMap>

	<sql id="Base_Column_List">
		LoginName, Name, UserID, LoginPassWord, Phone, Email, RegisterTime
	</sql>

	<select id="getSysUserByloginName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sysuser
		where LoginName = #{loginname,jdbcType=VARCHAR}
	</select>

	<insert id="insertSysUser" parameterType="com.lb.user.domain.pojo.SysUserDO">
		insert into sysuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userID != null">
				UserID,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="loginName != null">
				LoginName,
			</if>
			<if test="loginPassword != null">
				LoginPassWord,
			</if>
			<if test="phone != null">
				Phone,
			</if>
			<if test="status != null">
				Status
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userID != null">
				#{userID,jdbcType=VARCHAR},
			</if>
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="loginPassword != null">
				#{loginPassword,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR}
			</if>
		</trim>
	</insert>

</mapper>