<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyitong.share.mapper.user.sysuserDOMapper" >
  <resultMap id="BaseResultMap" type="com.hyitong.share.transport.domain.pojo.sysuserDO" >
    <id column="LoginName" property="loginname" jdbcType="VARCHAR" />
    <result column="UserID" property="userid" jdbcType="INTEGER" />
    <result column="PassWord" property="password" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="RegisterTime" property="registertime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LoginName, UserID, PassWord, Phone, Email, RegisterTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sysuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sysuser
    where LoginName = #{loginname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sysuser
    where LoginName = #{loginname,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDOExample" >
    delete from sysuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDO" >
    insert into sysuser (LoginName, UserID, PassWord, 
      Phone, Email, RegisterTime
      )
    values (#{loginname,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{registertime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDO" >
    insert into sysuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginname != null" >
        LoginName,
      </if>
      <if test="userid != null" >
        UserID,
      </if>
      <if test="password != null" >
        PassWord,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="registertime != null" >
        RegisterTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        #{registertime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDOExample" resultType="java.lang.Integer" >
    select count(*) from sysuser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sysuser
    <set >
      <if test="record.loginname != null" >
        LoginName = #{record.loginname,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null" >
        UserID = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.password != null" >
        PassWord = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        Phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        Email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.registertime != null" >
        RegisterTime = #{record.registertime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sysuser
    set LoginName = #{record.loginname,jdbcType=VARCHAR},
      UserID = #{record.userid,jdbcType=INTEGER},
      PassWord = #{record.password,jdbcType=VARCHAR},
      Phone = #{record.phone,jdbcType=VARCHAR},
      Email = #{record.email,jdbcType=VARCHAR},
      RegisterTime = #{record.registertime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDO" >
    update sysuser
    <set >
      <if test="userid != null" >
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        PassWord = #{password,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null" >
        RegisterTime = #{registertime,jdbcType=DATE},
      </if>
    </set>
    where LoginName = #{loginname,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyitong.share.transport.domain.pojo.sysuserDO" >
    update sysuser
    set UserID = #{userid,jdbcType=INTEGER},
      PassWord = #{password,jdbcType=VARCHAR},
      Phone = #{phone,jdbcType=VARCHAR},
      Email = #{email,jdbcType=VARCHAR},
      RegisterTime = #{registertime,jdbcType=DATE}
    where LoginName = #{loginname,jdbcType=VARCHAR}
  </update>
</mapper>